<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestControl">
  <test thread-count="5" name="Test">
    <classes>
      <class name="teststart.Test1">
      <methods>
      <include name="Demo2"/>
      </methods>
      </class>
      <class name="teststart.Test2"/>
    </classes>
  </test> 
  <test name="Only4">
    <classes>
      <class name="teststart.Test4">
      <!--  methods-->
      <!--exclude name="Demo.*"></exclude-->
      <!--include name="Demo9"-->
      <!--  methods-->
      </class>
      
    </classes>
    </test>  
</suite> 
